/* This file contains the css for the app-controls*/


#app-controls #picker-switch {
    text-align: center;
    float: left;
}

#app-controls .icon {
    width: 48px;
    height: 48px;
    margin: 10px 0;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #DDD;
    display: table;
    float: left;
}

#app-controls .icon:hover {
    cursor: pointer;
}

#app-controls .picker-icon {
    background-image: url('../files/picker.png');
}

#app-controls .copy-icon {
    width: 48px;
    height: 48px;
    padding: 12px;
    background-image: url('../files/copy.png');
    background-position: 7px center;
}

#app-controls .copy-icon:hover {
    background-position: -29px center;
}


#app-controls #void-sample {
    margin-right: 10px;
    background-image: url('../files/void.png');
    background-position: center left;
}

#app-controls #void-sample[data-active='true'] {
    border-color: #CCC;
    background-position: center right;
}

#app-controls .switch {
    width: 106px;
    padding: 1px;
    border: 1px solid #CCC;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    overflow: hidden;
    float: left;
}

#app-controls .switch:hover {
    cursor: pointer;
}

#app-controls .switch > * {
    width: 50%;
    padding: 2px 0;
    background-color: #EEE;
    float: left;
}

#app-controls .switch [data-active='true'] {
    color: #FFF;
    background-image: url('../files/grain.png');
    background-color: #777;
}


#control-paste-state,
#control-connect-server,
#control-send-server {
    margin-top: 10px;
    background-color: #EEE;
    width: 106px;
    border: 1px solid #CCC;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    float: left;
}

#control-random-seed {
    width: 60px;
    margin-left: 10px;
}


#control-paste-state:hover, #control-connect-server:hover {
    cursor: pointer;
}

#app-controls-left {
    display: flex;
    flex-direction: column;
}

#app-controls-right {
    display: flex;
    flex-direction: column;
}