/*This file contains the css of the general layout elements*/

body {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/*Other css use throughout the tool*/
[data-hidden='true'] {
    display: none;
}


/*This is to hide the arrows on the text fields*/
input[type="number"]{
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

