/*This file contains the css for the color picker elements*/

#color-picker {
    width: 100%;
    margin: 0;
    border: 1px solid #DDD;
    background-color: #FFF;
    display: table;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#color-picker .picking-area {
    width: 100%;
    padding-top: 100%;
    margin: 0px;
    border: 1px solid #DDD;
    position: relative;
    float: left;
    display: table;
}

#color-picker .picking-area:hover {
    cursor: default;
}

/* HSV format - Hue-Saturation-Value(Brightness) */
#color-picker .picking-area {
    background: url('../files/picker_mask_200.png') center center;

    background: -moz-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 100%),
    -moz-linear-gradient(left, #FFF 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 100%),
    -webkit-linear-gradient(left, #FFF 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 100%),
    -ms-linear-gradient(left, #FFF 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 100%),
    -o-linear-gradient(left, #FFF 0%, rgba(255, 255, 255, 0) 100%);

    background-color: #F00;
}

/* HSL format - Hue-Saturation-Lightness */
#color-picker[data-mode='HSL'] .picking-area {
    background: -moz-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0) 50%,
    hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 100%),
    -moz-linear-gradient(left, hsl(0, 0%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%);
    background: -webkit-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0) 50%,
    hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 100%),
    -webkit-linear-gradient(left, hsl(0, 0%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%);
    background: -ms-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0) 50%,
    hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 100%),
    -ms-linear-gradient(left, hsl(0, 0%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%);
    background: -o-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0) 50%,
    hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 100%),
    -o-linear-gradient(left, hsl(0, 0%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%);
    background-color: #F00;
}

#color-picker .picker {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #FFF;
    position: absolute;
    top: 45%;
    left: 45%;
}

#color-picker .picker:before {
    width: 8px;
    height: 8px;
    content: "";
    position: absolute;
    border: 1px solid #999;
    border-radius: 50%;
}

#color-picker .hue,
#color-picker .alpha {
    width: 100%;
    height: 35px;
    margin: 0px;
    border: 1px solid #FFF;
    float: left;
}

#color-picker .hue {
    background: url("../files/hue.png") center;
    background: -moz-linear-gradient(left, #F00 0%, #FF0 16.66%, #0F0 33.33%, #0FF 50%,
    #00F 66.66%, #F0F 83.33%, #F00 100%);
    background: -webkit-linear-gradient(left, #F00 0%, #FF0 16.66%, #0F0 33.33%, #0FF 50%,
    #00F 66.66%, #F0F 83.33%, #F00 100%);
    background: -ms-linear-gradient(left, #F00 0%, #FF0 16.66%, #0F0 33.33%, #0FF 50%,
    #00F 66.66%, #F0F 83.33%, #F00 100%);
    background: -o-linear-gradient(left, #F00 0%, #FF0 16.66%, #0F0 33.33%, #0FF 50%,
    #00F 66.66%, #F0F 83.33%, #F00 100%);
}

#color-picker .slider-picker {
    width: 2px;
    height: 100%;
    border: 1px solid #777;
    background-color: #FFF;
    position: relative;
    top: -1px;
}


#color-picker .info {
    width: 200px;
    margin: 5px;
    float: left;
}

#color-picker .info * {
    float: left;
}

#color-picker .input {
    margin: 2px 2px;
    float: left;
    height: 38px;
}

#color-picker .input .name {
    width: 20px;
    height: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    float: left;
}

#color-picker .input input {
    width: 40px;
    height: 100%;
    font-size: 22px;
    margin: 0;
    padding: 0;
    border: 1px solid #DDD;
    text-align: center;
    float: right;

    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    -moz-appearance: textfield;
}


#color-picker .input[data-topic="lightness"] {
    display: none;
}

#color-picker[data-mode='HSL'] .input[data-topic="value"] {
    display: none;
}

#color-picker[data-mode='HSL'] .input[data-topic="lightness"] {
    display: block;
}

#color-picker .input[data-topic="hexa"] {
    width: 45%;
    height: 50px;
    float: left;
    margin: 2px 2px 0 0;
}

#color-picker .input[data-topic="hexa"] > .name {
    display: none;
}

#color-picker .input[data-topic="hexa"] > input {
    width: 100%;
    height: 100%;
    padding: 2px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
        font-size: 35px;
}


/* Preview color */
#color-picker .preview {
    width: 50%;
    height: 50px;
    margin: 2px;
    border: 1px solid #DDD;
    background-image: url("../files/alpha.png");
    float: left;
    display: block;
}

#color-picker .preview:before {
    width: 50%;
    height: 100%;
    content: "";
    background: #FFF;
    float: left;
}

.preview .preview-color {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    float: right;
}

#color-picker .switch_mode {
    width: 10px;
    height: 20px;
    position: relative;
    border-radius: 5px 0 0 5px;
    border: 1px solid #DDD;
    background-color: #EEE;
    left: -12px;
    top: -1px;
    z-index: 1;
    transition: all 0.5s;
}

#color-picker .switch_mode:hover {
    background-color: #CCC;
    cursor: pointer;
}


#color-picker .preview-color:hover {
    cursor: move;
}

