/*This file contains the css for all the elements in the container-samples*/

.sample-line-parent {

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}


.sample-line {
    float: left;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    padding-top: 10px;
    padding-bottom: 5px;
    transition: height 0.15s ease-out;
    order: 1;
}

.sample-line[data-active='true'] {
    height: 350px;
}


.sample-line .sample{
    display: flex;
    flex-direction: column;
    flex-grow:1;
    position: relative;
    padding: 5px;
}


.sample-line .sample[data-active='true'] {
    border: 1px solid #999;

}

.sample-line .sample[data-active='true']:after {
    content: "";
    position: absolute;
    background: url('../files/arrow.png') center no-repeat;
    width: 100%;
    height: 12px;
    top: -7px;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
}


.sample-line input{
    width: 100%;
    border: 1px solid #DDD;
    -moz-user-select: text;
    -webkit-user-select: text;
}


.line-toolbar {
    align-self: flex-end;
    /*border-bottom: 2px solid #c9c8c8;*/
    float: right;
    width: 100%;
    order: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
}

.line-toolbar .line-key {
    width: 35%;
    -moz-user-select: text;
    -webkit-user-select: text;
}

.line-toolbar .line-toolbar-separator {
    width: 100%;
    height: 5px;
    background-color: gray;
    margin-top: 13px;
}

.line-toolbar .line-toolbar-trigger{
    color: #000;
    font-size: 33px;
    border-radius: 5px;
    border: 1px solid #c9c8c8;
    width: 26px;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
}

.line-toolbar .line-toolbar-icons{
    position: absolute;
    background-color: #FAFAFA;
    border: 1px solid #c9c8c8;
    display: none;
    margin-left: 990px;
    padding: 5px;
    margin-bottom: -105px;

}

.line-toolbar-icons div {
    margin: auto;
}



.line-toolbar-icons span[highlight='false'] {
    text-align: center;
    font-size: 20px;
    opacity: 0.3;
}

.line-toolbar .line-toolbar-trigger:hover{
    border: 1px solid #000;
    cursor: pointer;
}
.line-toolbar .line-toolbar-trigger:hover ~ .line-toolbar-icons,

.line-toolbar .line-toolbar-icons:hover{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.line-toolbar-icons span{
    opacity: 0.3;
}


.line-toolbar-icons span[highlight="true"]:hover {
    opacity: 1;
}


.line-toolbar-icons span[highlight="non"] {
    opacity: 0;
}

.line-toolbar-icons span[highlight="non"]:hover {
    opacity: 0;
}


.sample-line .sample-color {
    height: 80%;
    margin: 5px 0;
    border: 1px solid #DDD;
    order: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sample-line .sample-color:hover {
    cursor: pointer;
    border-color: #BBB;
    border-radius: 3px;
}

.sample-line .sample-color:hover .sample-toolbar{
    display: block;
}

.sample-line .sample-color .sample-toolbar{
    display: none;
    text-align: center;
}

.sample-toolbar .delete-text, .sample-toolbar .copy-text, .sample-toolbar .paste-text {
    font-size: 20px;
    height: 25px;
    opacity: 0.3;
}

.sample-toolbar span {
    opacity: 0.3;
}

.sample-toolbar span[highlight="true"]:hover{
    opacity: 1;
}





