/*This file contains the css for all the elements in the container-samples*/

.sample-line {
    float: left;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px 0;
}

.sample-line .sample{
    display: flex;
    flex-direction: column;
    flex-grow:1;
    position: relative;
    padding: 10px;
}

.sample-line input{
    width: 100%;
    border: 1px solid #DDD;
}


.line-toolbar {
    align-self: flex-end;
    border-bottom: 2px solid #c9c8c8;
    float: right;
    width: 100%;
}

.line-toolbar .line-toolbar-trigger{
    color: #000;
    font-size: 44px;
    border-radius: 5px;
    border: 1px solid #c9c8c8;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 31px;
    margin-bottom: -18px;
    font-weight: bold;
    float: right;
    position: relative;
}

.line-toolbar .line-toolbar-icons{
    position: absolute;
    color: #000;
    border: 1px solid #c9c8c8;
    display: none;
    margin-left: 1000px;
    margin-top: -70px;

}


.line-toolbar .line-toolbar-trigger:hover{
    border: 1px solid #000;
    cursor: pointer;
}
.line-toolbar .line-toolbar-trigger:hover ~ .line-toolbar-icons,
.line-toolbar .line-toolbar-icons:hover{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.line-toolbar-icons > * {
    opacity: 0.3;
}


.line-toolbar-icons > *:hover {
    opacity: 1;
}


.sample-line .sample-color {
    height: 300px;
    margin: 5px 0;
    border: 1px solid #DDD;
    order: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sample-line .sample-color:hover {
    cursor: pointer;
    border-color: #BBB;
    border-radius: 3px;
}

.sample-line .sample-color:hover .sample-toolbar{
    display: block;
}

.sample-line .sample-color .sample-toolbar{
    display: none;
    text-align: center;
}


.sample-toolbar > * {
    opacity: 0.3;
}

.sample-toolbar > *:hover{
    opacity: 1;
}


.sample-line .sample[data-active='true'] {
    border: 1px solid #999;

}

.sample-line .sample[data-active='true']:after {
    content: "";
    position: absolute;
    background: url('../files/arrow.png') center no-repeat;
    width: 100%;
    height: 12px;
    top: -7px;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
}

