/**
 * Resize Handle
 */
.resize-handle {
	width: 10px;
	height: 10px;
	background: url('../files/resize.png') center center no-repeat;
	position: absolute;
	bottom: 0;
	right: 0;
}

[data-resize='both']:hover {
	cursor: nw-resize !important;
}

[data-resize='width']:hover {
	cursor: w-resize !important;
}

[data-resize='height']:hover {
	cursor: n-resize !important;
}

[data-hidden='true'] {
	display: none;
}

[data-collapsed='true'] {
	height: 0 !important;
}

.block {
	display: table;
}


/**
 * 	Color Theme
 */

#color-theme {
	margin: 0 8px 0 0;
	border: 1px solid #EEE;
	display: inline-block;
	float: right;
}

#color-theme .box {
	width: 80px;
	height: 92px;
	float: left;
}



#color-palettes .palette-container {
	width: 100%;
	height: 50px;
	line-height: 50px;
	transition: all 0.5s;
}

#color-palettes .palette-container > * {
	float: left;
}

#color-palettes .title {
	width: 10px;
	padding: 0 10px;
	text-align: right;
	line-height: inherit;
}

#color-palettes .palette {
	width: 200px;
	height: 38px;
	margin: 3px;
	padding: 3px;
	display: table;
	background-color: #FFF;
}

#color-palettes .palette .palette-sample-color {
	width: 20px;
	height: 30px;
	margin: 1px;
	position: relative;
	border: 1px solid #DDD;
	float: left;
	transition: all 0.2s;
}

#color-palettes .palette .palette-sample-color:hover {
	cursor: pointer;
	border-color: #BBB;
	transform: scale(1.15);
	border-radius: 3px;
}

#color-palettes .controls {
}

#color-palettes .controls > * {
	float: left;
}

#color-palettes .controls > *:hover {
	cursor: pointer;
}

#color-palettes .controls .lock {
	width: 24px;
	height: 24px;
	margin: 10px;
	padding: 3px;
	background-image: url('../files/lock.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}

#color-palettes .controls .lock:hover {
	/*background-image: url('images/unlocked-hover.png');*/
	background-position: bottom left;
}

#color-palettes .controls .lock[locked-state='true'] {
	/*background-image: url('images/locked.png');*/
	background-position: top left ;
}

#color-palettes .controls .lock[locked-state='true']:hover {
	/*background-image: url('images/lock-hover.png');*/
	background-position: top right;
}

